body{
	background-color:#b1b4db;
}
p{
	text-align:justify;
	font-size:1.1rem;
}
h1{
	font-size:2.5rem;
}
ul{
	list-style:none;
}
#header{
	padding-bottom:1.0rem;
	border-bottom:0.1rem solid black;
}

/*****Logo du Site*****/
#LogoWidow{
	display:block;
	position:absolute;
	width:6.0rem;
	float:left;
}

/****Logo-titre du site*****/
#OSOK{
	display:block;
	width:8.0rem;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	padding:0rem;
}

/*****Menu*****/
#case{
	display:inline-block; 	
	position:relative;
	width:100%;
	height:auto;
	text-align:right;
}
.formulaire{
	display: inline-block;
}
.formulaire.champ{
	width:60.0rem;
	height:3.5rem;
}

#bio{
	margin-top:3.0rem;
	margin-bottom:5.0rem;
}
/*****Image background*****/
#imageback{
	margin-top:1.0rem;
	background-image: url("../img/Widow3.png");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:top center;
	height:20.0rem;
	padding-top:1.0rem;
}

/*****Les compétences*****/
#Armes, #Capacités, #Ultime{
	width:100%;
	border-bottom:0.2rem solid black;
	border-top:0.2rem solid black;
}
#Capacités{
	margin-bottom:5.0rem;
	margin-top:5.0rem;
}
#Armes, #Ultime{
	text-align:center;
	margin:auto;
}
#Armes{
	background-image: url("../img/WIdow Armement.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:top center;
}
#Capacités{
	background-image: url("../img/widow Competence.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:top center;
}
#Ultime{
	background-image: url("../img/Widow Ulti.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:top center;
}
#Arme1, #Capacité1, #Capacité2, #Ultime1{
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	padding:0.0rem;
}
#Arme1, #Ultime1{
	margin-left:10.0rem;
	margin-right:10.0rem;
}
#Capacité1{	
	margin-left:15.0rem;
}
#Capacité2{

	float:right;
	margin-right:15.0rem;
}
#chapitre{
	text-align:left;
	background-color:#30385f;
	color:#ef1d1f;
	border-radius:1.0rem;
}
#Sniper{
	width:15.0rem;
	margin:auto;
}
#Grappin, #Mine{
	width:5.0rem;
	margin:auto;
}
#Infra{
	width:7.0rem;
	margin: auto;
}
#Baiser, #Grap, #MineV, #Infrav{
	background-color:#af5e9e;
	font-style:bold;
	width:15.0rem;
	margin: auto;
	text-align:center;
	border-radius:1.0rem;
	padding:0.1rem;
}
#dMineV, #dGrap{
	width:100%;
}
#dBaiser, #dGrap, #dMineV, #dInfrav{
	width:20.0rem;
	text-align:center;
	background-color:#716e8e;
	border-radius:1.0rem;
	padding:0.2rem;
}
#dGrap, #dMineV{
		padding:0.3rem;
}

/*****Origine Géo+Formulaire*****/
#part2{
	width:100%;
	margin-top:3.0rem;
}
#geo, #form{
	display:inline-block;
	margin:0.0rem;
	padding:0.0rem;
	width:45%;
}
#geo{
	border-right: 0.1rem solid black;
}
#titre{
	text-align:left;
	text-decoration:underline;
	color:#ef1d1f;
}
#map{
	display:block;
	padding-left:1.0rem;
	padding-right:1.0rem;
}

/*****Formulaire*****/
#prenom, #nom, #ville, #date,#message, #mail, #photo{
	margin-bottom:0.3rem;
	margin-top:0.3rem;
}
#prenom,#nom{
	display:inline-block;
}
#ville, #date{
	display:inline-block;
}
#prenom, #date{
	width:40%;
	float:left;
}
#nom, #ville{
	width:40%;
	float:right;
}
#message, #mail, #photo{
	width:100%;
	height:auto;
}
#ok{
	float:right;
	width:5.0rem;
}

/*****Footer*****/
#footer{
	border-top:0.1rem solid black;
}
#footer p{
	float:right;
	padding-right:1.5rem;
}


/*****Responsive tablette****/
@media screen and (max-width:800px){
	max-width:80.0rem;
	
	p{
		font-size:0.9rem;
	}
	h1{
		font-size:2.0rem;
	}
	#titre{
		font-size:0.9rem;
	}
	
	/*****centrer le Logo et le menu****/	
	#case{
		text-align:center;
	}
	#LogoWidow, #case{
		position:relative;
		margin-left:auto;
		margin-right:auto;
		float:none;
		text-align:center;
	}
	
	/*****Supression du logo-titre*****/
	#OSOK{
		display:none;
		visibility:hidden;
	}
	
	/*****Réarrangement des div des compétences*****/
	#Arme1, #Ultime1{
		margin-left:auto;
		margin-right:auto;
	}
	#Capacité1{
			margin-left:1.0rem;
	}
	#Capacité2{
		float:none;
		margin-left:2.0rem;
		margin-right:1.0rem;
	}

	/*****Réarrangement du Formulaire*****/	
	#prenom, #nom, #ville, #date,#message, #mail, #photo{
		display:block;
		width:100%;
		margin-left:1.0rem;
		float:none;
	}
	#form #titre{
		margin-left:1.0rem;
	}

}

@media screen and (max-width:480px){
	max-width:48.0rem;
	
	#imageback{
		background-position:center center;
	}
	#Sniper, #Grappin, #Mine, #Infra{
		width: 50%;
		margin-left:auto;
		margin-right:auto;
	}
	#Baiser, #Grap, #MineV, #Infrav{
		width:70%;
		margin-left:auto;
		margin-right:auto;
	}
	#dBaiser, #dGrap, #dMineV, #dInfrav{
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}
	#Capacités{
		background-position:center right;
	}
	#geo, #form{
		display:block;
		width:100%;
	}
	#geo{
		border:none;
	}
	#prenom, #nom, #ville, #date,#message, #mail, #photo{
		margin-left:0.0rem;
	}
	#Capacités{
		background-image:url("../img/widow Competence2.jpg");
		background-position: center center;
	}
}